/** 16 **/
div.social-share a {
  background: transparent url(../icons/iconpack-16.png) no-repeat;
  display: block;
  float: left;
  height: 16px;
  margin-right: 4px;
  margin-top: 4px;
  text-indent: -9999px;
  width: 16px;
}
div.social-share a.custom-network {
  background: none;
  text-decoration: underline;
  text-indent: 0;
  width: auto;
}
div.social-share a.social-share-delicious {
  background-position: 0 0;
}
div.social-share a.social-share-digg {
  background-position: -16px 0;
}
div.social-share a.social-share-facebook {
  background-position: -32px 0;
}
div.social-share a.social-share-googleplus {
  background-position: -48px 0;
}
div.social-share a.social-share-hyves {
  background-position: -64px 0;
}
div.social-share a.social-share-linkedin {
  background-position: -80px 0;
}
div.social-share a.social-share-msnlive {
  background-position: -96px 0;
}
div.social-share a.social-share-myspace {
  background-position: -112px 0;
}
div.social-share a.social-share-orkut {
  background-position: -128px 0;
}
div.social-share a.social-share-reddit {
  background-position: -144px 0;
}
div.social-share a.social-share-stumbleupon {
  background-position: -160px 0;
}
div.social-share a.social-share-twitter {
  background-position: -176px 0;
}
div.social-share a.social-share-yahoo {
  background-position: -192px 0;
}
