{#
/**
 * @file
 * Default theme implementation of wrapper to share links (for a node).
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element, including:
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - networks: structure of theme implementation such as social share links:
 *   - links: Array with available social share links.
 * - share_label: Label to Social Share Links.
 * @see template_preprocess_social_share_links()
 *
 * @ingroup themeable
 */
#}
<div class="{{ attributes.class }}">
  <div>{{ share_label }}</div>
{% for link in networks.links %}
  {{ link }}
{% endfor %}
</div>
