{#
/**
 * @file
 * Default theme implementation of single social share link (for a node).
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element, including:
     - href: Share URL of social network.
     - title: Adds descriptive text to a link in a tooltip name social network.
     - class: HTML classes that can be used to style contextually through CSS.
     - target: Loads the page in a new window or the current browser window.
 * @see template_preprocess_social_share_link()
 *
 * @ingroup themeable
 */
#}
<a{{ attributes }}>{{ attributes.title }}</a>
